$greenSheen : #89B6A5;
$englishViolet : #4c3b4d;
$aeroBlue : #c9eddc;
$morningBlue : #82968C;
$nickel : #6A706E;
$white : #FFFFFF;

.navbar.ebog-nav {
    background-color: #050505;
    height:  100px;
}

.navbar.ebog-foot {
    background-color: #050505;
    height:  75px;
}

.nav-link {
    color: $white;
}
