.ebog-main {
    background-color: #22a4ba !important;
}

.ebog-secondary {
    background-color: #3bf6ed;
}

.ebog-accent {
    background-color: #00ff01;
}

.ebog-alt {
    background-color: #e31d6a;
}